@charset "utf-8";

/* CSS Document */




*{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    line-height:1.2;
    font-size:1em;
}
body{
    direction: rtl;
}

div.wrapper{
    overflow: hidden;

}
div.wrapper div.employees{
    margin: 0 auto;
    width: 780px;
}
form.appform{
    width:400px;
    margin:20px auto;
}
form.appform fieldset{
    background-color:#f1f1f1;
    border:1px solid #e4e4e4;
    padding:10px;
}
form.appform fieldset legend{
    background-color:#e4e4e4;
    padding:5px;
    font-size:20px;
    color:#666;
}
form.appform fieldset p.message{
    background-color:#060;
    padding:3px;
    font-size:20px;
    color:#fff;
    margin:3px 0;
    border-radius:3px;
}
form.appform fieldset p.message.error{
    background-color:#900;

}

form.appform table{
    width:100%;
}
form.appform lable{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#66666;
}
form.appform table tr td{
    padding:3px 0;
}
form.appform table tr td input[type=text],
form.appform table tr td input[type=number]
{
    font-size: 18px;
    padding:2%;
    width:96%;

}
form.appform table tr td input[type=submit]{
    padding:8px;
    border-radius:3px;
    background:#060;
    color:#fff;
}
div.wrapper div.employees table{
    width: 800px;
    margin: 20px 22px 0 0;
    border-collapse: collapse;

}
div.wrapper div.employees table thead th{
    text-align: left;

    padding: 5px;
    border-right: solid 2px #e4e4e4;
    border-bottom: solid 2px #e4e4e4;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
div.wrapper div.employees table thead th:last-of-type{
    border-right: none;
}

div.wrapper div.employees table tbody td{
    color: #666666;
    text-align: left;
    padding: 5px;
    border: solid 2px #e4e4e4;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
div.wrapper div.employees table tbody tr:nth-child(2){
    background: #f1f1f1;
}
div.wrapper div.employees table tbody td a:link,
div.wrapper div.employees table tbody td a:visited
{
    color: #0ba1ec;



}









.main{
    background-color: #0b2e13;
    padding:5px;
}
.main h1{
    margin-right: 60px;
}
.info-nav{

    margin-top: -60px;
}
.info-div-nav {
    background-color: #0b2e13;
    color: #f1f1f1;
    margin-right: -16px;
    margin-top: 7px;
    height: 400px;
}
.profile_picture{
    margin-top: 20px;
    margin-bottom: 20px;
}
.employee_info span{
    display:block;
    margin: 8px;
}
.employee_info{

}
.info-nav ul li{
    margin-bottom: 20px;
}